body{
    background-color: #FFF3B0;
    margin: 0;
}

h1{
    color: #2B2B2B;
    text-align: center;
    font-weight : bold;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #1D3557;
  width : 100%;
}

ul li a {
  display: block;
  color: #ffffff;
  padding: 14px 16px;
  text-decoration: none;
}


ul li a:hover:not(.active) {
  background-color: #dddddd;
}

ul li a.active {
  background-color: #E63946;
}