html {
  scroll-behavior: smooth;
}

body{
    /*background-color: #FFF3B0;*/
    margin: 0;
}

h1{
    color: #2B2B2B;
    text-align: center;
    font-weight : bold;
    font-family: 'Poppins', sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #1D3557;
  width : 100%;
}

ul li a {
  display: block;
  color: #ffffff;
  padding: 14px 16px;
  text-decoration: none;
  font-weight : bold;
  font-family: 'Poppins', sans-serif;
}


ul li a:hover:not(.active) {
  background-color: #dddddd;
}

ul li a.active {
  background-color: #E63946;
}



.films {
    display: flex;
    flex-wrap : wrap;
    gap: 20px;        
    justify-content: center; 
}

.film {
    width : 180px;
    text-align : center;
    word-wrap: break-word;
    cursor : pointer;
}

.film img {
    width: 100%;
    height: auto; 
    transition: filter 0.4s ease;
}

.film img:hover{
    filter : brightness(40%)
}


/* ---------------------------------- tarifs ------------------------- */

#tarifs {
  max-width: 600px;
  margin: 2rem auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#tarifs h2 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.8rem;
  color: #333;
}

#tarifs table {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 8px 18px rgba(0,0,0,0.6);
}

#tarifs thead {
  background-color: #4a90e2;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#tarifs th, 
#tarifs td {
  padding: 14px 20px;
  text-align: left;
}

#tarifs tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

#tarifs tbody tr:hover {
  background-color: #eef6ff;
  transition: background 0.3s ease;
}

#tarifs td:last-child {
  font-weight: bold;
  color: #2c3e50;
}


/* ----------------------------- snacks -------------- */

.snack {
  display : flex;
  align-items: center;
  background-color: #1D3557;
}

.snack img{
  width: 300px;     
  height: 300px;
}

.snack p {
  font-size: 18px;
  line-height: 1.5;
  color : white;
}

.snack h2{
  color : white;
}

/* ------------------------- projection -----------------------*/

.format-card {
  display: flex;
  flex-direction: column; 
  align-items: center;    
  text-align: center;    
  padding: 20px;
  background: #f4f4f4;    
  border-radius: 10px;
}

.format-card img {
  width: 300px;      
  height: auto;      
  margin-bottom: 15px;
}
