<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/accueil.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
        <title>Popcorn Palace</title>
    </head>
    <body>
        <nav>
            <ul>
                <li><a class="active" href="#">Accueil</a></li>
                <li><a href="#">Films</a></li>
                <li><a href="#">Réservations</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
            </ul>
        </nav>
        <h1>Popcorn Palace</h1>

        <div class="films">
            {% for title, poster_url in movies %}
            <div class="film">
                <img src="{{ poster_url }}" alt="Affiche de {{ title }}" width="150">
                <p>{{ title }}</p>
            </div>
            {% endfor %}
        </div>


    </body>
</html>