<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/accueil.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/caroussel.css') }}">

        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
        <title>Popcorn Palace</title>
    </head>
    <body>
        <nav>
            <ul>
                <li><a class="active" href="#">Accueil</a></li>
                <li><a href="#">Films</a></li>
                <li><a href="#">Réservations</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
            </ul>
        </nav>

        <div class="slideshow-container">
        {% for m in movies %}
        <div class="mySlides fade">
            <div class="numbertext">{{ loop.index }} / {{ movies|length }}</div>
            <img src="{{ m.backdrop_url }}" style="width:100%">
        </div>
        {% endfor %}

        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        <br>

        <div style="text-align:center">
            {% for m in movies %}
                <span class="dot" onclick="currentSlide( {{loop.index }})"></span>
            {% endfor %}
        </div>


        <div class="films">
            {% for m in movies %}
            <div class="film">
                <img src="{{ m.poster_url }}" alt="Affiche de {{ m.title }}" width="150">
                <p>{{ m.title }}</p>
                <p>Genre : {{ ", ".join(m.genres) }}</p>
            </div>
            {% endfor %}
        </div>


        <script src = "{{ url_for('static', filename='js/caroussel.js')}}"></script>
    </body>
</html>